*{
    margin: 0;
    padding: 0;
}

body{
    background-color: skyblue;
}

.container{
    margin: 200px auto;
    width: 600px;
    height: 200px;
    background-color: lightgrey;
    border-radius: 20px;
    display: flex;
    padding: 40px 20px 20px 20px;
    border: 2px solid rgb(95, 91, 91);
}

/*left container*/

.left{

    background-color: rgb(30, 30, 156);
    flex: 1.2;
    position: relative;

    
}

.square{
    width: 45px;
    height: 45px;    
}
.square-1{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background-color: lightgrey;


}

.square-2{
position: absolute;
left: 0;
top: 0;
transform: translate(-100%);
background-color: rgb(217, 144, 7);
/* border-left: 3px solid darkgray;
border-radius: 2px; */

}

.square-3{
position: absolute;
left: 0;
top: 0;
transform: translate(100%);
background-color: rgb(217, 144, 7);
/* border-right: 3px solid darkgray;
border-radius: 2px; */
}

.square-4{
position: absolute;
left: 0;
top: 0;
transform: translateY(-100%);
background-color: rgb(217, 144, 7);
/* border-top: 3px solid darkgray;
border-radius: 2px; */
}

.square-5{
position: absolute;
left: 0;
top: 0;
transform: translateY(100%);
background-color: rgb(217, 144, 7);
/* border-bottom: 3px solid darkgray;
border-radius: 2px; */
}

/*middle container*/

.middle{

    background-color: rgb(30, 30, 156);
    flex: 1;
    display: flex;
    flex-direction: column;
}
.mid-item{
    background-color: lightgrey;
    margin-bottom: 10px;
    height: 35px;
   
}

.mid-3{
   height: 30px;
   text-align: center;
   font-weight: 900;
   color: brown;
   padding-top: 9px;
}
.mid-4{
    height: 50px;
    border: 10px inset rgb(239, 233, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn{
    background-color: white;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px gray;
}

.mid-5{
    height: 20px;
    margin-bottom: 0;
}


/*right container*/

.right{

    background-color: rgb(30, 30, 156);
    flex: 1.2;
    display: flex;
    flex-direction: column;
  
}
.right-top{
    flex: 1;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-top>p{
    color: brown;
    font-size: 24px;
    font-weight: 700;
    border: 2px solid brown;
    padding: 5px;
    border-radius: 20px;
}

.right-bottom{
    flex: 1;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons{
background-color: gray;
width: 70px;
height: 70px;
border-radius: 8px;
position: relative;
}

.circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(217, 144, 7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid white; */
    box-shadow: 2px 2px 2px white,-2px 2px 2px white, 
                2px -2px 2px white, -2px -2px 2px white;
                /*ya da 0 0 2px 2px white*/
}


.buttons p{
    color: white;
    position: absolute;
    font-weight: 800;
    left: 42%;
    top: 98%;
}
